<div class="container mt-5">
  

  <!-- Search Box -->
  <div class="row mb-3 justify-content-end">
    <div class="col-md-8 ">
        <h2 class="mb-2">Employee List</h2>
    </div>
    <div class="col-md-4">
      <form class="form-inline">
        <div class="input-group">
          <input id="input" type="text" class="form-control" placeholder="Search by First Name" [(ngModel)]="searchTerm" name="searchTerm" (input)="searchEmployees()">
          <button type="button" class="btn btn-outline-primary" (click)="clearSearch()">Clear</button>
        </div>
      </form>
    </div>
  </div>

  <!-- Table -->
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">SNo</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">DOB</th>
          <th scope="col">Position</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emp of filteredEmployees; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ emp.firstName }}</td>
          <td>{{ emp.lastName }}</td>
          <td>{{ emp.dob | date: 'dd-MM-yyyy' }}</td>
          <td>{{ emp.position }}</td>
          <td>
            <button type="button" class="btn btn-sm btn-primary" (click)="editEmployee(emp)">
              <i class="fas fa-edit"></i> <!-- Edit icon -->
            </button>
            <button type="button" class="btn btn-sm btn-danger ml-2" (click)="deleteEmployee(emp)">
              <i class="fas fa-trash-alt"></i> <!-- Delete icon -->
            </button>
          </td>
        </tr>
        <tr *ngIf="filteredEmployees.length === 0">
          <td colspan="6" class="text-center">No employees found.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



  <router-outlet></router-outlet>