<nav class="navbar navbar-expand-lg navbar-light" style="background: #ebebeb;">
    <div class="container-fluid">
      <a class="navbar-brand" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-weight: bolder;" routerLink="/Home">Employees Hub</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/Home/EmployeeList">Employee List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Home/AddEmployee">Add Employee</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
          <!-- <li class="nav-item">
            <input type="text" [(ngModel)]="Add">
            <button (click)="AddText()" > Add</button>
          </li> -->
        </ul>
        <form class="d-flex">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 px-4">
            <li class="nav-item dropdown">
                <a style="font-weight: bolder;" class="nav-link dropdown-toggle px-5" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Profile
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">View Profile</a></li>
                  <li><a class="dropdown-item" href="#">Settings</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" style="font-weight: bold;color: red;" routerLink="">Log Out</a></li>
                </ul>
              </li>
            </ul>
        </form>
      </div>
    </div>
  </nav>

  <!-- [List]="EmpList" -->
  <!-- <app-employee-list></app-employee-list> -->
  <router-outlet></router-outlet>